/* Estilo base para la tarjeta */

.container-opinion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;

}


.card-opinion {
    width: 100%;
    max-width: 960px; /* o cualquier otra anchura máxima */
    margin: 200px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    align-content: center;
}

/* Estilo para el contenedor de opiniones con dos columnas */
.opinion-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1; /* Las columnas ocupan el espacio disponible por igual */
    padding: 0 20px; /* Espacio interior para cada columna */
}

/* Botones y estilos adicionales */
.button-container {
    text-align: center;
    padding-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

